<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>Youkuicon.png</string>
			<key>Regular Expression</key>
			<string>(?s)^.{1,1900}$</string>
			<key>Title</key>
			<string>Youku</string>
			<key>URL</key>
			<string>http://www.soku.com/v?keyword={popclip text}</string>
		</dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>http://www.youku.com/</string>
			<key>Name</key>
			<string>Youku</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Roy Li</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for music on Youku.com.</string>
	<key>Extension Identifier</key>
	<string>com.geekdada.popclip.extension.youku-search</string>
	<key>Extension Name</key>
	<string>Youku Search</string>
	<key>Version</key>
	<integer>2</integer>
</dict>
</plist>
